@layer reset, base, tokens, recipes, utilities;

body {
  background: var(--colors-neutral-100);
  color: var(--colors-white)
}

html {
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5
}


*,:after,:before {
  box-sizing: border-box;
  border-color: var(--colors-border);
  border-style: solid
}

* {
  scrollbar-color: var(--colors-neutral-300) transparent;
  scrollbar-width: thin;
  -webkit-overflow-scrolling: touch
}

::-moz-placeholder {
  opacity: 1;
  color: var(--colors-text-secondary)
}

::placeholder {
  opacity: 1;
  color: var(--colors-text-secondary)
}

::-moz-selection {
  background: var(--colors-pink-900);
  color: var(--colors-white)
}

::selection {
  background: var(--colors-pink-900);
  color: var(--colors-white)
}

button,input[type=button],input[type=file],input[type=reset],input[type=submit] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer
}
